footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color:#fff;
}

div.alert {
    margin: 50px auto 50px auto;
    width: 400px;
}

nav {
    margin-bottom: 50px;
}

form {
    margin: 50px auto 50px auto;
    width: 400px;
}

.checked {
  color: orange;
}